<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RavenDBMembership.IntegrationTests.Properties.Settings.MembershipDatabase"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFileName=c:\temp\DatabaseFile.mdf;Integrated Security=True;User Instance=True" />
    </connectionStrings>
</configuration>