<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <membership defaultProvider="RavenDBMembership">
      <providers>
        <add name="RavenDBMembership" applicationName="MyApp" type="RavenDBMembership.Provider.RavenDBMembershipProvider, RavenDBMembership"/>
      </providers>
    </membership>
  </system.web>
</configuration>
